<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="css/Style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="create">Create</a>
    </div>
    <div class="w3-container">
        <table class="w3-table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>

            </tr>
            <% allUsers.forEach(user=> { %> <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.address %>
                    </td>
                    <td><a href="/update/<%= user.id %>">Edit</a>
                        <button>Delete</button>
                    </td>
                </tr>
                <% }) %>
        </table>
    </div>
</body>

</html>